<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="com.techstorm.alarm"
  version="0.0.1">

    <name>AlarmPlugin</name>
    <description>AlarmPlugin Description</description>
    <author>TechStorm</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    <dependency id="de.appplant.cordova.plugin.local-notification" />
    
    <js-module src="www/alarm.js" name="AlarmPlugin">
        <clobbers target="Alarm" />
    </js-module>
    

    <platform name="android">
        <framework src="com.android.support:support-v4:+" value="gradle" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlarmPlugin">
                <param name="android-package" value="com.techstorm.AlarmPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
        </config-file>
        <source-file src="src/android/com/techstorm/AlarmPlugin.java" target-dir="src/com/techstorm" />
        <source-file src="src/android/com/techstorm/DataStorage.java" target-dir="src/com/techstorm" />
    </platform>

</plugin>